/*last updated 5/30/2021*/

/*These elements should already be displayed as blocks 
but this is to deal with possible problems in older browsers*/
header,footer, article, section {
    display: block; 
}

#eye-icon {
	height: 26px;
	width: 53px;
}
#hand-icon {
	height: 48px; 
	width: 58px; 
}
#mouth-icon {
	height: 29px; 
	width: 64px; 
}
#sword-icon {
	height: 81px; 
	width: 82px; 
}

@font-face {
  font-family: SierraSCImenu;
  font-style: normal;
  src: url("Sierra-SCI-Menu-Font.ttf");
}

a:link {
	display: inline; 
	color: #4d4d4d;
	text-decoration: none; 
	font-weight: normal; 
	padding-top: 0em !important; 
}
li a:hover {
    color: purple !important;
    text-decoration: none; 
	font-weight: bold; 
	cursor: url("QfG_icons/qfg3-hand-icon-best.png"), pointer !important; 
}

section a:hover, footer a:hover {
	display: inline; 
    color: purple !important;
    text-decoration: none; 
	font-weight: bold; 
	cursor: url("QfG_icons/qfg3-walking-icon-best.png"), pointer !important; 
}
#contact {
	cursor: url("QfG_icons/qfg3-mouth-icon-best.png"), pointer !important; 
}
a:visited {
	display: inline; 
	color: #4d4d4d;
	text-decoration: none; 
	font-weight: normal; 
}
abbr{
	cursor: url("QfG_icons/QG3Question.png"), help !important;
}
.btn:hover {
	cursor: url("QfG_icons/qfg3-eye-icon-best.png"), pointer !important; 
}
.carousel-control:hover {
	cursor: url("QfG_icons/qfg3-hand-icon-best.png"), pointer !important;
}

li.othernavbar a:hover, li.footernavbar a:hover {
    color: purple;
	background-color: transparent !important; 
    text-decoration: none; 
}
address {
	display: inline-flex; 
	line-height: 1; 
}
body {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 100%; 
	margin: auto; 
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	font-weight: normal; 
	background: #a6a6a6; 
	border: none; 
	padding: 0em;
	cursor: url("QfG_icons/qfg3-sword-icon-best.png"), default !important;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("pool-of-peace1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators {
	bottom: -50px;
	left: 42%;
	width: 73%;
}
.carousel-indicators li {
	border-color: purple !important; 
	cursor: url("QfG_icons/qfg3-sword-icon-best.png"), pointer !important;
}
.carousel-indicators .active {
	background-color: purple !important; 
}
div {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif;
	font-size: 100%; 
	color: #333; 
}
.smaller-note {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif;
	font-size: 75%; 
	line-height: 85%; 
	text-align: center; 
}

.center {
    font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 90%; 
	margin: 0em auto; 
	font-size: 2.5em; 
}

.dropdown {
	max-width: 180px; 
	margin: auto; 
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
}
.dropdown-menu {
    position: absolute; 
	top: 100%; 
	left: 0%; 
    z-index: 10; 
    min-width: 10em; 
    padding: 0; 
    margin: auto; 
	background-color: transparent !important; 
    font-size: 2em; 
    text-align: left; 
}
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent !important;
}
ul.dropdown-menu a:link {
	color: #333;
	text-decoration: none; 
	background-color: transparent !important; 
	font-weight: normal; 
}
ul.dropdown-menu a:hover {
    color: purple !important;
	text-decoration: none; 
	background-color: transparent; 
	font-weight: bold; 
}
ul.dropdown-menu a:visited {
	color: #333;
	text-decoration: none; 
	font-weight: normal; 
}

header {
	text-align: center; 
	color: #000; 
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-weight: normal; 
	margin-left: 0.938em; 
	margin-right: 0.938em; 
	background: transparent; 
}
h2 {
	font-size: 2.0em; 
	font-weight: bold; 
	font-style: normal; 
}
h3 {
	font-size:1.5em;
	font-weight: bold; 
	font-style: normal;
}
hr {
    border: 0px; 
    margin-top: 0.625em; 
    margin-bottom: 0.625em; 
    width: 100%; 
    color: #000; 
    background-color: #000; 
    height: 0.125em; 
}
html {
	height: 100% !important;
	font-size: 6px;
}
img {
	border: none;
	display: block; 
	margin: auto;  
	text-align: center; 
}

article {
    background-color: transparent;
	margin: auto; 
	padding: 0em; 
	width: 100%; 
	line-height: 100%; 
	color: black; 
}
.pillars {
	background-image: url("qfg3-background-color.png"); 
    background-size: initial; 
	background-color: transparent; 
	border: 40px solid transparent; 
	border-image: url("qfg3-main-menu2.png") 12.5% round; 
}
ul {
	padding: 15px; 
	background-color: #a6a6a6; 
}
/*begin responsive elements*/

button, .btn {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 3em; 
    z-index: 10 !important; 
	color: black !important; 
	border: none !important; 
	border-color: transparent !important; 
	background-color: transparent !important; 
	background-image: url("qfg3-button.png") !important; 
    background-size: contain; 
	padding: 0.1em 0.8em; 
	display: block;
	margin: auto;
	height: 49px;
}
.affix {
	visibility: visible; 
}
button.affix {
	top: 0%; 
	left: 27%; 
}
ul.affix {
	position: fixed; 
	left: 20%; 
	top: 45px; 
}
.container {
	margin: 0; 
	padding: 0 0 80px 0; 
	width: 100%; 
	height: auto; 
	font-size: 100%; 
}

#feet-icon {
    display: none; 
}
footer {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 231px; 
	height: 145px; 
	font-size: 1em; 
	font-style: italic; 
	background-image: url("qfg3-text-4.png"); 
    background-size: contain; 
	background-color: transparent; 
	padding: 0.8em 0.5em 0.9em 0.5em; 
	margin: 0.5em auto; 
	overflow: auto; 
}
#game-toolbar {
	max-height: 35px; 
	width: 354px; 
	position: fixed; 
	top: 0; 
	left: 3%; 
	z-index: 16; 
}
h1 {
	font-size: 3.5em; 
	padding: 0.2em; 
	position: absolute; 
	top: 32px; 
	left: 12%; 
	height: 50px; 
	width: 278px;
    background-image: url("qfg3-heading-small.png"); 
  	background-size: contain;
    color: black; 
    text-align: center; 
    margin: auto; 
}

#li-bottom {
	background-image: url("qfg3-li-bottom.png"); 
	background-size: contain; 
	background-color: transparent; 
	line-height: 80% !important; 
	height: 47px;
	padding: 0em 1em 0.45em 0.5em !important; 
}
#li-top {
	background-image: url("qfg3-li-top.png"); 
	background-size: contain; 
	padding: 0.1em 0.5em 0.5em 0.5em !important; 
	height: 41px; 
}
li.othernavbar {
	background-image: url("qfg3-li.png"); 
	background-size: contain; 
	font-size: 1.5em; 
	background-color: transparent;
	padding: 0em 0.5em; 
	margin: 0; 
	width: 210px;
	height: 48px;
	display: block; 
	font-style: normal; 
	-webkit-tap-highlight-color: transparent; 
}
.offset {
	position: relative; 
	top: 82px; 
}
@media (min-width: 30em) and (max-width: 40em)
{

.carousel-indicators {
	bottom: -60px;
}
.container {
	padding: 0 0 120px 0; 
}
button, .btn {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 3em; 
    z-index: 10 !important; 
	color: black !important; 
	border: none !important; 
	border-color: transparent !important;
	background-color: transparent !important; 
	background-image: url("qfg3-button.png") !important; 
    background-size: contain; 
	padding: 0.1em 0.8em; 
	display: block; 
	height:48px;
}
.affix {
	visibility: visible; 
}
button.affix {
	top: 0%; 
	left: 35%; 
}
ul.affix {
	position: fixed; 
	left: 35%; 
	top: 45px; 
}
.center {
    font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 80%; 
	margin: 0em auto; 
	font-size: 3em; 
}
#feet-icon {
	display: none;
}
footer {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 286px; 
	height: 180px; 
	font-size: 1em; 
	font-style: italic; 
	background-image: url("qfg3-text-4.png"); 
    background-size: contain; 
	background-color: transparent; 
	padding: 0.5em 0.5em 0.9em 0.5em; 
	margin: 0.5em auto; 
	overflow: auto; 
}

#game-toolbar {
	max-height: 35px; 
	width: 354px; 
	position: fixed; 
	top: 0; 
	left: 16%; 
	z-index: 16; 
}
h1 {
	font-size: 3.5em;
	padding: 0em;
	position: absolute;
	background-image: url("qfg3-background-color.png"); 
    background-size: contain;
    border: 15px solid transparent;
    border-image: url("qfg3-main-menu2.png") 12.5% round;
	top: 32px;
	left: 20%;
	height: 72px;
	width: 62%;
}

#li-bottom {
	background-image: url("qfg3-li-bottom.png"); 
	background-size: contain; 
	background-color: transparent; 
	line-height: 80% !important; 
	height: 52px;
	padding: 0em 0.5em 0.63em 0.5em !important; 
}
#li-top {
	background-image: url("qfg3-li-top.png"); 
	background-size: contain; 
	padding: 0.2em 0.5em 0.5em 0.5em !important; 
	height: 45px; 
}
li.normal {
	padding: 2px 15px 3px 15px!important; 
}
li.othernavbar {
	background-image: url("qfg3-li.png"); 
	background-size: contain; 
	font-size: 1.5em; 
	background-color: transparent;
	padding: 0em 0.5em; 
	margin: 0; 
	width: 230px;
	height:55px;
	display: block; 
	font-style: normal;
	-webkit-tap-highlight-color: transparent; 
}
.offset {
	position: relative; 
	top: 104px; 
}
article {
    background-color: transparent;
	margin: auto; 
	padding: 0.3em; 
	width: 100%; 
	height: 80%; 
	line-height: 100%; 
	color: black; 
}
}

@media (min-width: 40em) and (max-width: 55em)
{

button, .btn {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 3.5em; 
	z-index: 10 !important; 
	color: black !important; 
	border: none !important; 
	border-color: transparent !important; 
	background-color: transparent !important; 
	background-image: url("qfg3-button.png") !important; 
    background-size: contain; 
	padding: 0.1em 0.8em; 
	display: block;
	height: 56px;
}
.affix {
	visibility:visible; 
}
button.affix {
	top: 0%; 
	left: 76%; 
}
ul.affix {
	position: fixed; 
	left: 76%; 
	top: 92px; 
}
.carousel-indicators {
	bottom: -60px;
}
.center {
	width: 67%; 
	font-size: 3em; 
}
.container {
	padding: 0 0 150px 0; 
}
#feet-icon {
	height: 45px; 
	width: 34px; 
	display: block; 
}
footer {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 335px; 
	height: 211px; 
	font-size: 1em; 
	font-style: italic; 
	background-image: url("qfg3-text-4.png"); 
    background-size: contain; 
	background-color: transparent; 
	padding: 0.85em 0.5em 0.9em 0.5em; 
	margin: 0.5em auto; 
	overflow: auto; 
}
#game-toolbar {
	max-height: 50px; 
	width: 506px; 
	position: fixed; 
	top: 0; 
	left: 16%; 
	z-index: 16; 
}
h1 {
	font-size: 4.5em; 
	padding: 0em; 
	position: absolute; 
	background-image: url("qfg3-background-color.png"); 
    background-size: auto;
    border: 25px solid transparent;
    border-image: url("qfg3-main-menu2.png") 12.5% round;
	top: 46px; 
	left: 22%; 
	height: 97px; 
	width: 57%; 
}

#li-bottom {
	background-image: url("qfg3-li-bottom.png"); 
	background-size: contain; 
	background-color: transparent; 
	line-height: 80% !important; 
	height: 52px;
	padding: 0em 0.5em 0.615em 0.5em !important; 
}
#li-top {
	background-image: url("qfg3-li-top.png"); 
	background-size: contain; 
	padding: 0.2em 0.5em 0.5em 0.5em !important; 
	height: 45px; 
}
li.normal {
	padding: 2px 15px 3px 15px!important; 
}
li.othernavbar {
	background-image: url("qfg3-li.png"); 
	background-size: contain; 
	font-size: 1.5em; 
	background-color: transparent;
	padding: 0em 0.5em; 
	margin: 0; 
	width: 230px; 
	height: 55px;
	display: block; 
	font-style: normal; 
	-webkit-tap-highlight-color: transparent; 
}
.offset {
	position: relative; 
	top: 143px; 
}
article {
	background-color: transparent;
	margin: auto; 
	padding: 0.6em; 
	width: 100%; 
	height: 80%; 
	line-height: 100%; 
	color: black; 
}
}

@media (min-width: 55em) and (max-width: 70em)
{
/*carousel images sized at 75%*/

.affix {
	visibility:visible;
}
button.affix {
	top: 0%; 
	left: 74%; 
}
ul.affix {
	position: fixed; 
	left: 74%; 
	top: 115px; 
}
button, .btn {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 4em; 
    z-index: 10 !important; 	
	color: black !important; 
	border: none !important; 
	border-color: transparent !important; 
	background-color: transparent !important; 
	background-image: url("qfg3-button.png") !important; 
    background-size: contain; 
	padding: 0.1em 0.8em;
	height:64px;
}
.carousel-indicators {
	bottom: 0px;
}
.center {
	width: 55%; 
	margin: 0em auto; 
	font-size: 3.5em; 
}
.container {
	padding: 0 0 215px 0; 
}
#feet-icon {
	height: 55px; 
	width: 47px; 
	display: block; 
}
footer {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 319.7px; 
	height: 201px; 
	font-size: 1em; 
	font-style: italic; 
	background-image: url("qfg3-text-4.png"); 
    background-size: contain; 
	background-color: transparent; 
	padding: 0.5em 0.7em 0.7em 0.7em; 
	margin: 0.5em auto; 
	overflow: auto; 
}
#game-toolbar {
	max-height: 75px; 
	width: 759px; 
	position: fixed; 
	top: 0; 
	left: 12%; 
	z-index: 16; 
}
h1 {
	font-size: 5.5em; 
	background-image: url("qfg3-background-color.png"); 
	background-size: auto;
	border: 30px solid transparent;
    border-image: url("qfg3-main-menu2.png") 12.5% round;
    width: 51%; 
	padding: 0.2em; 
	position: absolute; 
	top: 69px; 
	left: 25%; 
	height: 131px; 
}

#li-bottom {
	background-image: url("qfg3-li-bottom.png"); 
	background-size: contain; 
	background-color: transparent; 
	line-height: 80% !important; 
	height: 63px;
	padding: 0em 0.5em 0.45em 0.5em !important; 
}
#li-top {
	background-image: url("qfg3-li-top.png"); 
	background-size: contain; 
	padding: 0.1em 0.5em 0.7em 0.5em !important; 
	height: 55px; 
}
li.othernavbar {
	background-image: url("qfg3-li.png"); 
	background-size: contain; 
	font-size: 2em; 
	background-color: transparent;
	padding: 0em 0.5em; 
	margin: 0; 
	width: 280px;
	height: 65px;
	display: block; 
	font-style: normal; 
	-webkit-tap-highlight-color: transparent; 
}
.offset {
	position: relative; 
	top: 200px; 
}
article {
	background-color: transparent;
	margin: auto; 
	padding: 0.8em; 
	width: 100%; 
	height: 80%; 
	line-height: 100%; 
	color: black; 
}
}

@media (min-width: 70em)
{

.affix {
	visibility: visible; 
}
button.affix {
	top: 0%; 
	left: 77%; 
}
ul.affix {
	position: fixed; 
	left: 77%; 
	top: 115px; 
}
.carousel-indicators {
	bottom: 0px;
}
.center {
	width: 50%; 
	margin: 0em auto; 
	font-size: 4em; 
}
.container {
	padding: 0 0 240px 0;
	background-image: url("qfg3-rakeesh.jpg"); 
	background-position: 0% 0%; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}
button, .btn {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif; 
	font-size: 4em;
    z-index: 10 !important;
	color: black !important;
	border: none !important;
	border-color: transparent !important;
	background-color: transparent !important;
	background-image: url("qfg3-button.png") !important;
    background-size: contain;
	padding: 0.1em 0.8em;
	height: 126px;
}
#feet-icon {
	height: 55px; 
	width: 47px; 
	display: block; 
	border: none; 
}
footer {
	font-family: SierraSCImenu, Sylfaen, "Times New Roman", serif !important; 
	width: 368.7px; 
	height: 232px; 
	font-size: 1em; 
	font-style: italic; 
	background-image: url("qfg3-text-4.png"); 
    background-size: contain; 
	background-color: transparent; 
	padding: 0.5em 0.5em 0.9em 0.5em; 
	margin: 0.5em auto; 
	overflow: auto; 
}
#game-toolbar {
	max-height: 100px; 
	width: 1012px; 
	position: fixed; 
	top: 0; 
	left: 12%; 
	z-index: 16; 
}
h1 {
    font-size: 6.0em;  
    color: black; 
    text-align: center; 
	background-image: url("qfg3-background-color.png"); 
	background-size: auto;
	border: 30px solid;
    border-image: url("qfg3-main-menu2.png") 12.5% round;
    width: 45%; 
    margin: auto; 
    padding: 0em; 
	position: absolute; 
	top: 92px; 
    left: 26%; 
	height: 131px;
}

#li-bottom {
	background-image: url("qfg3-li-bottom.png"); 
	background-size: contain; 
	background-color: transparent; 
	line-height: 80% !important; 
	height: 63px;
	padding: 0em 0.5em 0.453em 0.5em !important; 
}
#li-top {
	background-image: url("qfg3-li-top.png"); 
	background-size: contain; 
	padding: 0.1em 0.5em 0.7em 0.5em !important; 
	height: 55px; 
}
li.othernavbar {
	background-image: url("qfg3-li.png"); 
	background-size: contain; 
	font-size: 2em; 
	background-color: transparent;
	padding: 0em 0.5em; 
	margin: 0; 
	width: 280px;
	height: 65px;
	display: block; 
	font-style: normal; 
	-webkit-tap-highlight-color: transparent; 
}
.offset {
	position: relative; 
	top: 223px; 
}
article {
	background-color: transparent;
	margin: auto; 
	padding: 1em; 
	width: 100%; 
	height: 80%; 
	line-height: 100%; 
	color: black; 
}
}
@media (min-width: 85em)
{

h1 {
	font-size: 7.0em;  
	color: black; 
	text-align: center; 
	background-image: url("qfg3-background-color.png"); 
	background-size: auto;
	border: 30px solid;
	border-image: url("qfg3-main-menu2.png") 12.5% round;
	width: 40%; 
	margin: auto; 
	padding: 0em; 
	position: absolute; 
	top: 92px; 
	left: 30%; 
	height: 131px; 
}

}
