/*last updated 7/11/2018*/

/*This sets the panels at the minimum size, as well as the searchform:

effectively @media (max-width:55em)*/
a
{
    display:inline;
	text-decoration:none;
}
a:link
{
	color: #848282; /*alternatively #262626; #604E3D; #006E00; darkgreen*/;
		text-decoration:none;
}
a:hover
{
    color: silver; /*previously #000099;*/
    text-decoration:underline;
}
a:visited
{
	color: silver; /*alternatively #604E3D;*/
}
address
{
	display:inline;
	margin-bottom:0px !important;
}
body 
{
	font: 100% 'Times New Roman', sans-serif;
	border: none;
	font-size:2.0em;
	color:black;
	border-radius: 1.0em;
	margin-left: 2.0em;
	margin-right:2.0em;
	width: 95%;
	background: repeating-radial-gradient(#000080 10%, #0066ff 20%); /*#000080 #0000ff*/
	overflow:scroll;
	font-weight:normal;
}
div.clear
{
	clear: left;
}

div.left
{
	width:85%;
    float: left;
	padding: 0.625em;
	margin-left:1em;
	margin-right:0.625em;
	border: solid 0.125em black;
	background-color: #0066ff;
	border-radius: 1.0em;
}
div.center
{
	width:85%;
	margin: 1em auto 2em 1em;
	border: solid 0.125em black;
	border-radius: 1.0em;
	padding: 0.625em;
	overflow:auto;
	background-color: #0066ff;
	float: left;
}
div.right
{
	display:none;
	position:fixed;
	top: 5%;
	z-index:10;
	width:80%;
	margin-left:1em;
	margin-right:1em;
	padding: 0.625em;
	border: solid 0.125em black;
	border-radius: 1.0em;
	background-color: #0066ff;
}
div.suggestions
{
	display:none;
	width: 90%;
	border: solid 0.125em black;
	border-radius: 1.0em;
	margin:auto;
	background-color: #0066ff;
	padding: 0.625em;
}
div.video
{
	font-weight:normal;
}

footer
{
	font-family: Arial, Helvetica, sans-serif;
	width:85%;
	font-style: italic;
	background-color: #0066ff;
	padding: 1.0em 2.0em;
	margin: 1.0em auto;
	border: solid 0.125em black;
	border-radius: 1.0em;
	display:block;
	clear:both;
	}

header
{
	text-align: center;
	color: #000;
	font-family: "Century Gothic", "Times New Roman", Trebuchet, sans-serif;
	font-size: 100%;
	font-weight: normal;
	margin-left:0.938em;
	margin-right:0.938em;
}
h1
{
	font-size: 2.0em; 
	color: #848282;
	text-align:center
}
h2
{
	font-size:1.5em;
	font-weight:bold;
}
hr
{
	border: 0px;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	width: 100%;
	color: #000;
	background-color: #000;
	height: 0.125em;
}
li.navbar
{
	font-size: 1.2em;
	background: repeating-radial-gradient(#000080 10%, #0066ff 20%); /*--#000066, #1a1aff--*/
	padding: 0.625em 1.5em;
	margin:0.4em;
	border: 0.125em;
	border-radius:1.0em;
	border-style: solid;
	border-color: black;
	display: inline-flex;
	font-style:normal !important;
}
nav
{
    list-style-type: none;
    margin: 0em;
    padding: 0em;
	text-align: center;
}	

#searchform
{
	width: 80%;
	margin-bottom:1em;
}
section  
{
	background-color: #0066ff;
	margin:auto;
	padding: 0.750em;
	width: 90%;
	line-height:200%;
}
ul	
{
	list-style-type: none;
}

@media (min-width:35em)
{
div.left
{
	width: 50%;
}
div.right
{
	width:35%;
	float:right;
	margin-left:1em;
	margin-right:1em;
	padding: 0.625em;
	border: solid 0.125em black;
	border-radius: 1.0em;
	position:fixed;
	background-color: #0066ff;
	top:16%;
	right:2%;
}
div.center
{
	width:50%;
	margin: 1em auto 2em 1em;
	border: solid 0.125em black;
	border-radius: 1.0em;
	padding: 0.625em;
	overflow:auto;
	background-color: #0066ff;
	float: left;
}
footer
{
	font-family: Arial, Helvetica, sans-serif;
	width:75%;
	font-style: italic;
	background-color: #0066ff;
	padding: 1.0em 2.0em;
	margin: 1.0em auto;
	border: solid 0.125em black;
	border-radius: 1.0em;
	display:block;
	clear:both;
	}
h1
{
	font-size: 3.0em; 
	color: #848282;
	text-align:center
}
}

/*This one shrinks the center panel 
to allow more space for the one on the right:*/
@media (min-width:55em) and (max-width:75em)
{

div.center
{
	max-width: 45%;
	border: solid 0.125em black;
	border-radius: 1.0em;
	padding: 0.625em;
	margin:auto auto 2em auto;
	overflow:auto;
	background-color: #0066ff;
	float: left;
}
}
/*This one shrinks the search form
to prevent it from overlapping with the center panel:*/
@media (min-width:55em) and (max-width:65em)
{
#searchform
{
	width: 90%
}
}

@media(min-width:55em)
{

div.left
{    
    width: 20%;
    float: left;
	padding: 0.625em;
	margin-left:0.625em;
	margin-right:0.625em;
	border: solid 0.125em black;
	background-color: #0066ff;
	border-radius: 1.0em;
}
div.right
 {
    width: 25%;
    float: right;
	margin-left:1em;
	margin-right:0.625em;
	padding: 0.625em;
	border: solid 0.125em black;
	border-radius: 1.0em;
	position:fixed;
	background-color: #0066ff;
	top:19%;
	right:2%;
 }
 footer
 {
	width:40%;
 }
 h1
 {
	font-size:4.0em;
 }
 }
 
@media(min-width:75em)
{
div.center
{
	width: 50%;
	border: solid 0.125em black;
	border-radius: 1.0em;
	padding: 0.625em;
	margin: 0em auto 2.0em auto;
	overflow:auto;
	background-color: #0066ff;
	float: left;
}
}