/*Last updated 5/13/2021*/

a {
    display:inline;
	text-decoration:none;
}
a:link {
	color: #000099; /*alternatively #006E00;*/
}

a:hover {
    color: #630; /*previously #000099;*/
    text-decoration:underline;
}

a:visited {
	color: #630;/*alternatively #604E3D;*/
} 

body {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #630;
	width: 100%;
	line-height:200%;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 100%;
	font-style: italic;
	background: transparent;
	padding: 1.0em 2.0em;
    margin: 1.0em 2.0em;
}

header {
	text-align: center;
	color: #000000;
	font-family: "Century Gothic", "Times New Roman", Trebuchet, sans-serif;
	font-weight: normal;
	margin-left:0.938em;
	margin-right:0.938em;
} 

h1 {
	text-align: center;
	color: black;
	font-family: "Century Gothic", "Times New Roman", "Trebuchet", sans-serif;
	font-size: 2em;
	line-height:150%;
	font-weight:normal;
	background: radial-gradient(#ffcc33 50%,  #e6ac00 85%);
    border: 0.125em;
    border-radius:1.0em;
    border-style: outset;
    border-color: #630;
	width: 80%;
	padding: .2em;
	margin: .8em auto;
}

img {
   border: solid 2px black;
   border-radius: 1.0em;
   max-width: 100%;
   max-height:100%;
   margin:auto;
}


section {
	border: solid 2px black;
	border-radius: 1.0em;
	background-color: #630;
	margin: 1.0em auto;
	padding: 0.750em;
	width: 65%;
	background: radial-gradient(#ffcc33 25%,  #e6ac00 85%);
}

/*Here are the rules specific to table design:*/
/*Add a bit of extra left padding for the state name */
.lh-list tbody td.title {
    padding-left: .8em;
}

.lh-list tbody th {
    font-size: 1.2em;
    background: transparent;
    color: black;
    text-align: center;
}

.lh-list thead th,
.lh-list tbody th .ui-table-cell-label,
.lh-list tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: 1.0em;
    color: black;
    font-weight: bold;
}

/* Lines at the bottom of each cell, including column headings*/
.lh-list thead th,
.lh-list tbody th,
.lh-list tbody td {
    border-bottom: 1px solid black;
}

/*  Negate the margin between sections */
.lh-list tbody th {
	margin-top: 0;
	text-align: left;
}

/* Headings and state names */
.lh-list tbody th,
.lh-list tbody td.title {
	display: block;
	font-size: 1.2em;
	line-height: 110%;
	padding: .3em .3em;
	color: black;
	background: transparent;
}

/*  Hide labels for name */
.lh-list tbody th .ui-table-cell-label,
.lh-list tbody td.title .ui-table-cell-label {
	display: none;
}

/*  Position the name, pad to the left */
.lh-list tbody td.title {
	margin-top: -2.1em;
	padding-left: 2.2em; 
	border-bottom: 1px solid black;
}

/*  Make the data bold */
.lh-list th,
.lh-list td {
	font-weight: bold;
}

/* Make the label elements a percentage width */
/*Make the label elements indented compared to the state name*/
.lh-list td .ui-table-cell-label,
.lh-list th .ui-table-cell-label {
	min-width: 20%;
	margin: -.4em 1em -.4em 0.4em;
}

.center {
	max-width:80%;
	margin:auto;
}

.bottom-heading {
	display:none !important;
}
	
figure {
	margin:0px !important;
	-webkit-margin-before: 0em !important;
	-webkit-margin-after: 0em !important;
	-webkit-margin-start: 0em !important;
	-webkit-margin-end: 0em !important;
}

.table	{
	padding-left:1.5em;
	padding-right:1.5em;
}

@media (max-width: 30em) {
	figcaption {
		font-size: 0.75em;
	}
}

@media (min-width:30em) {
	figcaption
	{
		font-size: 1em;
	}
	.center {
		padding:1.5em;
	}
}

@media ( min-width: 47.5em ) {
    /* Show the table header rows */
	.lh-list tbody th,
    .lh-list tbody td,
    .lh-list thead td,
    .lh-list thead th {
        display: table-cell;
        margin: 0;
    }
	.bottom-heading{
		display:table-cell !important;
	}
	h1 {
		font-size: 3.0em
	}
		
    /* Hide the labels in each cell */
    .lh-list td .ui-table-cell-label,
    .lh-list th .ui-table-cell-label {
        display: none;
    }

	.center
	{
		max-width:60%;
		margin:auto;
		padding: 2em;
	}
	.table
	{
		padding-left:2em;
		padding-right:2em;
	}
}

@media (min-width:65em) {
	.lh-list thead th,
	.lh-list tbody th .ui-table-cell-label,
	.lh-list tbody td .ui-table-cell-label {
		text-transform: uppercase;
		font-size: 1.2em;
		color: black;
		font-weight: bold;
		}
	.center {
		max-width:50%;
		margin:auto;
		padding: 2.5em;
	}
	section {
		max-width: 65%;
	}
	h1 {
		font-size: 4.0em
	}
}
	