/*last updated 2/23/2016*/

/*effectively @media (max-width:55em)*/
a
{
    display:inline;
	text-decoration:none;
}
a:link
{
	color: #848282; /*alternatively #604E3D; #006E00; darkgreen*/;
	text-decoration:none;
}
a:hover
{
    color: silver; /*previously #000099;*/
    text-decoration:underline;
}
a:visited
{
	color: silver; /*alternatively #604E3D;*/
	text-decoration:none;
}
li.othernavbar a:hover, li.footernavbar a:hover
{
    color: silver; /*previously #000099;*/
	background-color: transparent;
    text-decoration:underline;
}
address
{
	display:inline-flex;
	margin:0em;
	font-style:italic;
	line-height:1;
}
body 
{
  font: 100% 'Times New Roman', sans-serif;
  border: none;
  margin:auto;
  width: 90%;
  background: repeating-radial-gradient(#532900 10%, #630 20%);
  overflow:auto;
  font-weight:normal;
}
.btn-primary
{
	background-color: #630 !important;
	border-color:transparent !important;
	font-size: 1.5em !important;
}
div
{
	font-size:1.5em;
	color:black;
}
div.container
{
	margin: auto;
	padding:0em;
	font-size: 100%;
	background-image: url("drcranium-lab2.jpg");
	background-position: 40% 0%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
div.clear
{
clear: left;
}
.dropdown
{
	max-width:120px !important;
	margin:auto !important;
}
.dropdown-menu
{
    position: absolute;
	top:100%;
	left:0%;
    z-index: 1000;
    display: none;
    min-width: 10em;
    padding: 0.3em 0;
    margin: auto;
    text-align: left;
    list-style: none;
    background-color: #630;
	font-size:1.5em;
	border: solid 0.08em black;
	border-radius: 0.5em;
}
ul.dropdown-menu a:link
{
	color: black; /*alternatively #604E3D; #006E00; darkgreen*/;
	text-decoration:none;
}
ul.dropdown-menu a:hover
{
    color: silver; /*previously #000099;*/
    text-decoration:underline;
	background-color:transparent;
}
ul.dropdown-menu a:visited
{
	color: silver; /*alternatively #604E3D;*/
	text-decoration:none;
}

ul.dropdown-menu li:hover
{
	color: silver; /*alternatively #604E3D;*/
	background-color:transparent;
	text-decoration:none;
}

footer
{
	font-family: Arial, Helvetica, sans-serif;
	width:80%;
	font-size: 1em;
	font-style: italic;
	background-color: #630;
	padding: 1.0em 2.0em;
	margin: 1.0em auto;
	border: solid 0.125em black;
	border-radius: 1.0em;
	display:block;
	clear:both;
	overflow:auto;
}

header
{
	text-align: center;
	color: #000;
	font-family: "Bodoni MT", "Times New Roman", Trebuchet, sans-serif;
	font-weight: normal;
	margin-left:0.938em;
	margin-right:0.938em;
}
h1
{
  font-size: 5.0em; 
  color: #FFF;
  text-align:center
}
h2
{
  font-size:1.5em;
  font-weight:bold;
  font-style:italic;
}
hr
{
   border: 0px;
   margin-top: 0.625em;
   margin-bottom: 0.625em;
   width: 100%;
   color: #000;
   background-color: #000;
   height: 0.125em;
}


li.othernavbar
{
background: repeating-radial-gradient(#532900 10%, #630 20%);
margin:0.4em;
font-size:1.5em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
-webkit-tap-highlight-color: rgba(0,0,0,0);

}

nav
{
    list-style-type: none;
    margin: 0em;
    padding: 0em;
	text-align: center;
}	
.nav
{
    list-style-type: none;
    margin: auto;
    padding: 0em;
	max-width: 100%;
	text-align: center;
}
.records
{
	width:80%;
	margin:0em auto;
	font-size:1.5em;
	border: solid 0.125em black;
	border-radius: 1.0em;
}

section  
{
  background-color: #630;
  margin:auto;
  padding: 0.750em;
  width: 90%;
  line-height:200%;
  color: black;
}
ul	
{
  list-style-type: none;
}
@media (max-width:25em)
{
li.footernavbar
{
font-size: 1em;
background: repeating-radial-gradient(#532900 10%, #630 20%);
padding: 0.5em 1em;
margin:0.4em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
}
li.othernavbar
{
background: repeating-radial-gradient(#532900 10%, #630 20%);
margin:0.4em;
padding: 0em !important;
font-size:1.2em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
}

@media (min-width:25em) and (max-width: 35em)
{
li.footernavbar
{
font-size: 1.2em;
background: repeating-radial-gradient(#532900 10%, #630 20%);
padding: 0.5em 1em;
margin:0.4em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
}
li.othernavbar
{
background: repeating-radial-gradient(#532900 10%, #630 20%);
margin:0.4em;
font-size:1.2em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
-webkit-tap-highlight-color: rgba(0,0,0,0);

}
}
@media (min-width:35em)
{
li.footernavbar
{
font-size: 1.5em;
background: repeating-radial-gradient(#532900 10%, #630 20%);
padding: 0.5em 1em;
margin:0.4em;
border: 0.125em;
border-radius:1.0em;
border-style: solid;
border-color: black;
display: inline-flex;
font-style:italic;
}
}
@media (min-width:55em) and (max-width:75em)
{

	.records
{
	width:65%;
	margin:0em auto;
	font-size:2em;
	border: solid 0.125em black;
	border-radius: 1.0em;
}
footer
{
	font-family: Arial, Helvetica, sans-serif;
	width:65%;
	font-size: 1em;
	font-style: italic;
	background-color: #630;
	padding: 1.0em 2.0em;
	margin: 1.0em auto;
	border: solid 0.125em black;
	border-radius: 1.0em;
	display:block;
	clear:both;
	overflow:auto;
}
}
 
@media(min-width:75em)
{
h1
{
  font-size: 6.0em; 
  color: #FFF;
  text-align:center
}

.records
{
	width:50%;
	margin:0em auto;
	font-size:2em;
	border: solid 0.125em black;
	border-radius: 1.0em;
}
footer
{
	width:50%;
}

}