div.right
 {
    width: 45%;
    float: right;
	margin-left:0px;
	margin-right:0px;
 }
div.left
{    
    width: 45%;
    float: left;
	margin-left:0px;
	margin-right:0px;
}
section  {
  background-color: #663300;
  margin:auto;
  padding: 0.750em;
  width: 90%;
  line-height:200%;
}
.login
{
font-size:150%;
margin:auto;
text-align:center;
}

a:link{
	color: #006E00;
}

div.clear
{
clear: left;
}
div.cheeps
{
  border: solid 2px black;
  border-radius: 1.0em;
  width: 45%;
  float: right;
  margin-left:0px;
  margin-right:0px;
  padding:5px;
}
a:visited
{
	color: #3E3228
} 


body {
  font: 100% 'Times New Roman', sans-serif;
  border: solid 2px black;
  border-radius: 1.0em;
  margin-left: 2.0em;
  margin-right:2.0em;
  width: 95%;
  background-color: #663300;
}
h1 {
  font-size: 3.0em; 
  color: #006E00;
  text-align:center
}
hr
{
	border: 0px;
   margin-top: 0.625em;
   margin-bottom: 0.625em;
   width: 100%;
   color: #000000;
   background-color: #000000;
   height: 2px;
}